/*
 Container for "copy YAML to clipboard" feature. (on Admin Package Show Sidebar)
 This container cannot be hidden or invisible, since its content will be "select()ed" by copyTagContentToClipboard()
*/
#plugin_bsfcompanion_export_yaml_raw{
    width:1px;
    height:1px;
    position:absolute;
    top:-1000px;
}

.bsfcompanion_error_message,
.bsfcompanion_error_message a{
    color:#fff;
    background-color: #ad6345;
    margin: 4px 0px;
    padding: 4px 6px;
}
.bsfcompanion_error_message a{
    text-decoration: underline;
    font-weight:bold;
}
